@import '~node_modules/modern-normalize/modern-normalize.css';

button {
  background-color: black;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}
.header {
  background-image: url(../images/abstract-background-with-red-lines\ 1.jpg);
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 39px;
}

.input-search {
  width: 350px;
}

.cards-section {
  padding: 60px 0;
}
